VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# Resend API Key for sending emails
RESEND_API_KEY=""
# Verified email address or domain in your Resend account (e.g. marketing@yourdomain.com)
RESEND_FROM_EMAIL=""
